/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

html {
  font-size: 14px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #303030;
  background-color: #fff; 
}